.tabular-main {
    width: auto;
    margin: 1em;
}
.tabular-table {
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: initial;
}
.tabular-header {
    white-space: nowrap;
}
.sorting-icons {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    cursor: pointer;
}
.col-resize {
    margin: 0 -3px 0 auto;
    /* background-color: hotpink; */
    width: 0.2em;
    cursor: col-resize;
}
.tabular-cell {
    text-align: left;
    border: 1px black solid;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.hide-col {
    margin: -0.5em 0 0.5em auto;
}
/* .inner-cell {
    resize: both;
    overflow: auto;
    width: 120px;
    height: 120px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    display:block;
  } */
.tabular-th {
    white-space: nowrap;
    border: 1px black solid;
}
.tabular-row .tabular-row-header {
    border: 1px black solid;
    cursor: move;
}
.tabular-row :hover {
    border-top: 2px black solid;
    cursor: move;
}

/* header styling */
.tab-header-container {
    margin: 2em;
    padding: 1em;
}
.header-title {
    font-size: 1.5em;
}
.hidden-cols {
    cursor: pointer;
}
li {
    list-style-type: none;
}
.resize-handle {
    display: block;
    position: absolute;
    cursor: col-resize;
    width: 7px;
    right: 0;
    top: 0;
    z-index: 1;
    border-right: 2px solid transparent;
  }
  
  .resize-handle:hover {
    border-color: #ccc;
  }
  
  .resize-handle.active {
    border-color: #517ea5;
  }